<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Random Pairing</title>
 </head>
 <body>
  <div id= 'container'>
    <div id= 'daily schedule'>
      <p>daily schedule</p>
    </div>
    <div id= ''>
    </div>
    <div id= 'batch_info'>
    </div>
    <form id= 'batch' action= '' method= ''>
      <button id='add_user'>+User</button>
      <ol id= 'user'>
      </ol>
      <input type='submit'>
    </form>
  </div>
 </body>
</html>